allow system_app sysfs_homebutton:dir r_dir_perms;
allow system_app sysfs_homebutton:file rw_file_perms;
allow system_app fingerprintd:binder call;
allow system_app fingerprintd_data_file:dir search;

# Added by KS
allow system_app fingerprintd_data_file:sock_file write;
allow system_app fingerprint_service:service_manager add;
allow system_app fingerprintd:unix_stream_socket {connectto read write};
allow system_app fingerprintd:fd use;

# Not allowed by netd.te
#allow system_app netd_service:service_manager find;

# Perform binder IPC to any app domain.
binder_call(system_app, appdomain)

allow system_app keystore_service:service_manager find;
allow system_app mediaserver_service:service_manager find;
allow system_app nfc_service:service_manager find;
allow system_app radio_service:service_manager find;
allow system_app surfaceflinger_service:service_manager find;
allow system_app system_app_service:service_manager add;

