import init.mmi.dtv.rc

on boot
       # Change permission for fingerprint sensor
       chown system mot_tcmd /sys/bus/spi/devices/spi1.0/nav
       chown system mot_tcmd /sys/bus/spi/devices/spi1.0/clk_enable
       chown system mot_tcmd /sys/bus/spi/devices/spi1.0/dev_enable
       chown system mot_tcmd /sys/bus/spi/devices/spi1.0/irq
       chown system mot_tcmd /sys/bus/spi/devices/spi1.0/irq_cnt
       chmod 0440 /sys/bus/spi/devices/spi1.0/irq_cnt

       # FPC home button permissions
       chown system system /sys/homebutton/enable
       chown system system /sys/homebutton/enable_off
       chown system system /sys/homebutton/haptic
       chown system system /sys/homebutton/haptic_off
       chown system system /sys/homebutton/key
       chown system system /sys/homebutton/key_hold
       chown system system /sys/homebutton/key_dbltap
       chown system system /sys/homebutton/key_left
       chown system system /sys/homebutton/key_right
       chown system system /sys/homebutton/key_screenoff
       chown system system /sys/homebutton/key_screenoff_hold
       chown system system /sys/homebutton/key_screenoff_dbltap
       chown system system /sys/homebutton/key_screenoff_left
       chown system system /sys/homebutton/key_screenoff_right
       chown system system /sys/homebutton/proximity_check_off

       # Screen off Gestures
       chown system radio /sys/android_touch/doubletap2wake
       chmod 0660 /sys/android_touch/doubletap2wake
       chown system radio /sys/android_touch/gesture_swipe_right
       chmod 0660 /sys/android_touch/gesture_swipe_right
       chown system radio /sys/android_touch/gesture_swipe_left
       chmod 0660 /sys/android_touch/gesture_swipe_left
       chown system radio /sys/android_touch/gesture_swipe_down
       chmod 0660 /sys/android_touch/gesture_swipe_down
       chown system radio /sys/android_touch/gesture_swipe_up
       chmod 0660 /sys/android_touch/gesture_swipe_up

       # change permission for rear Psensor
       chown system system /sys/class/sensors/Rear\ Proximity\ sensor/enable
       chown system system /sys/class/sensors/Rear\ Proximity\ sensor/poll_delay
       chmod 0664  /sys/class/sensors/Rear\ Proximity\ sensor/enable
       chmod 0664  /sys/class/sensors/Rear\ Proximity\ sensor/poll_delay

on property:ro.build.motfactory=1
	write /sys/class/power_supply/battery/device/factory_image_mode 1
